.Task{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #202020;
    gap: 5rem;
}
.Task__section-dashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;  
    width: 80%;
}
.Task__section-task{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 1rem; 
}
.Task__input{
    width: 80%;
    height: 3rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    outline: none;
}
.Task__article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 60%;
    list-style: none;;
}
.Task__ul{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.Task__li{
    min-width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: .5rem;
    border: 1px solid #000;
    gap: 50%;
    padding: .5rem;
}
.Task__button-create{
    width: max-content;
    height: max-content;
    padding: 1rem;
    border-radius: 1rem;
}
.Task__button-delete{
    width: 2rem;
    background-color: rgb(255, 0, 0);
    height: 2rem;
}
.Task__p{
    text-transform: capitalize;
    font-family:monospace;
    min-width: max-content;
    max-height: min-content;
    font-size: 1.5rem;
}
.header{
    width: 100%;
    height: 3rem;
    display:  flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50%;
}
.header__button{
    width: 3rem;
    height: 55%;
    border-radius: 30%;
    border:none;
}
.header__h1{
    font-family: sans-serif;
    font-weight: 200;
}